# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# iOS
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods (if ever used)
Pods/

# Carthage (if ever used)
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

#json
tokens-revised.json
tokens.json
tokens-penpot.json

#md
lfm2.5-designsystem.md
ROADMAP.md
design-badge.md
design-combo-button.md
design.md
requirements-badge.md
requirements-combo-button.md
requirements.md
tasks-badge.md
tasks-combo-button.md
tasks.md

.github
